body {
    background: linear-gradient(to right, #F5F5F5, #B9F6CA, #F48FB1);
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    padding: 30px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent */
    backdrop-filter: blur(15px); /* Blur effect */
    -webkit-backdrop-filter: blur(15px); 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); /* Soft shadow */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
    text-align: center;
}


.city{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
     border-bottom: 1px dashed grey;
     padding: 20px 0;
}

 .city:last-child{
    border-bottom: none;
 }

.time{
font-size: 40px;
font-weight: bold;

}

 .date{
    opacity: 0.7;
 }

.time small{
   font-size: 16px;
   line-height: 36px;
   vertical-align: middle; 
}

select{
    display: block;
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px;
}

 h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
     font-size: 36px;
}

h2{
    margin: 0 0 5px;
    font-size: 28px;
}

 footer{
    text-align: center;
    font-size: 16px;
    color:rgba(0, 0, 0, 0.6); 
}